<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>날씨 목록</title>
    <meta charset="UTF-8">
    <link href="/css/weather.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    <div>
        <table class="sub_table">
            <thead>
            <tr>
                <th>측정일시분초</th>
                <th>측정일시분초</th>
                <th>강수형태</th>
                <th>습도</th>
                <th>1시간 강수량</th>
                <th>기온</th>
                <th>동서바람성분</th>
                <th>풍향</th>
                <th>남북바람성분</th>
                <th>풍속</th>
                <th colspan="3" style="text-align: center">관리</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="weather : ${weatherList}">
                <td th:text="${weather.baseDate}"></td>
                <td th:text="${weather.baseTime}"></td>
                <td th:text="${weather.pty}"></td>
                <td th:text="${weather.reh}"></td>
                <td th:text="${weather.rn1}"></td>
                <td th:text="${weather.t1h}"></td>
                <td th:text="${weather.uuu}"></td>
                <td th:text="${weather.vec}"></td>
                <td th:text="${weather.vvv}"></td>
                <td th:text="${weather.wsd}"></td>
                <td><a th:href="@{/weather/weatherViewForm(weatherId=${weather.weatherId})}">보기</a></td>
                <td><a th:href="@{/weather/weatherUpdateForm(weatherId=${weather.weatherId})}">수정</a></td>
                <td><a th:href="@{/weather/weatherDeleteForm(weatherId=${weather.weatherId})}">삭제</a></td>
            </tr>
            </tbody>
        </table>
        <a href="/" class="sub_btn">메인</a>
        <a href="/weather/weatherRegistForm" class="sub_btn">등록</a>
        <a href="/weather/weatherRegistAuto" class="sub_btn">날씨수집</a>
    </div>
</div>
</body>
</html>