<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>날씨 목록</title>
    <meta charset="UTF-8">
    <link href="/css/weather.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    <div class="main_div">
        <div>
            <table class="sub_table">
                <colgroup>
                    <col width="8%">
                    <col width="8%"/>
                    <col width="8%"/>
                    <col width="8%"/>
                    <col width="8%"/>
                    <col width="8%"/>
                    <col width="8%"/>
                    <col width="8%"/>
                    <col width="8%"/>
                    <col width="8%"/>
                    <col width="5%"/>
                    <col width="5%"/>
                    <col width="5%"/>
                </colgroup>
                <thead>
                    <tr>
                        <th>측정일</th>
                        <th>측정시분초</th>
                        <th>강수형태</th>
                        <th>습도</th>
                        <th>1시간 강수량</th>
                        <th>기온</th>
                        <th>동서바람성분</th>
                        <th>풍향</th>
                        <th>남북바람성분</th>
                        <th>풍속</th>
                        <th colspan="3" style="text-align: center">관리</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="weather : ${weatherList}">
                    <td th:text="${weather.baseDate}"></td>
                    <td th:text="${weather.baseTime}"></td>
                    <td th:text="${weather.pty}"></td>
                    <td th:text="${weather.reh}"></td>
                    <td th:text="${weather.rn1}"></td>
                    <td th:text="${weather.t1h}"></td>
                    <td th:text="${weather.uuu}"></td>
                    <td th:text="${weather.vec}"></td>
                    <td th:text="${weather.vvv}"></td>
                    <td th:text="${weather.wsd}"></td>
                    <td><a class="btn_s" th:href="@{/weather/weatherViewForm(weatherId=${weather.weatherId})}">보기</a></td>
                    <td><a class="btn_s" th:href="@{/weather/weatherUpdateForm(weatherId=${weather.weatherId})}">수정</a></td>
                    <td>
                        <form id="delete_form" th:action="@{/weather/weatherDelete(weatherId=${weather.weatherId})}" method="post">
                            <input type="hidden" name="_method" value="delete"/>
                            <input type="submit" class="btn_s" value="삭제">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a href="/" class="sub_btn">메인</a>
            <a href="/weather/weatherRegistForm" class="btn_m">등록</a>
            <a href="/weather/weatherRegistAuto" class="btn_m">날씨수집</a>
        </div>
        <div class="pagination">
            <a th:href="@{/weather/weatherListForm(page=0)}">최초페이지</a>
            <th:block th:if="${nowPage != 1}"><a th:href="@{/weather/weatherListForm(page=${nowPage-2})}">이전페이지</a></th:block>
            <th:block th:if="${nowPage == 1}"><a th:href="@{/weather/weatherListForm(page=0)}">이전페이지</a></th:block>
            <th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
                <th:block th:if="${endPage >= nowPage }">
                    <a th:if="${page != nowPage}" th:href="@{/weather/weatherListForm(page=${page-1})}" th:text ="${page}"></a>
                    <strong th:if="${page==nowPage}" th:text ="${page}"></strong>
                </th:block>
            </th:block>
            <th:block th:if="${nowPage != totalPages}"><a th:href="@{/weather/weatherListForm(page=${nowPage})}">다음페이지</a></th:block>
            <th:block th:if="${nowPage == totalPages}"><a th:href="@{/weather/weatherListForm(page=${totalPages-1})}">다음페이지</a></th:block>
            <a th:href="@{/weather/weatherListForm(page=${totalPages-1})}">마지막페이지</a>
        </div>

    </div>
</div>
</body>
</html>